<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="btn-group my-3" role="group" aria-label="Basic outlined example">
  <%= link_to t('actions.edit_user'), edit_user_path(@user), class: 'btn btn-sm btn-outline-dark' %>
  <%= link_to t('actions.all'), users_path, class: 'btn btn-sm btn-outline-dark' %>
  <%= button_to t('actions.destroy_user'), @user, method: :delete, class: 'btn btn-sm btn-outline-dark' %>
</div>
